.navbar {
  background-color: teal;
  overflow: hidden;
  border-radius: 5px;
  font-family: 'Trebuchet MS';
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar button {
  float: right; 
  display: block;
  background-color: teal; 
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  border-radius: 3px;
  font-family: 'Trebuchet MS';
}

.navbar a:hover {
  background-color: #555; 
}

.navbar button:hover {
  background-color: #555;
}